body {
    background: #1b1e24;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-image: url(../img/imagen_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 10px;
    height: 100%;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.login {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

.Registro {
    margin: 0 auto;
    width: 242px;
}

.Registro input {
    border: none;
    height: 48px;
    outline: none;
}

.Registro input[type="text"] {
    background-color: #fff;
    border-top: 2px solid #ad7726;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    padding-left: 36px;
    width: 204px;
}

.Registro input[type="password"] {
    background-color: #fff;
    border-top: 2px solid #ffffff;
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 2px solid #2c90c6;
    border-left: 1px solid rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    color: #363636;
    margin-bottom: 20px;
    padding-left: 36px;
    width: 204px;
}

.Registro input[type="submit"] {
    background-color: #c67e2c;
    border: 1px solid #c67e2c;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
}

.Registro input[type="submit"]:hover {
    background-color: #c67e2c;
    box-shadow: 2px 2px 20px #816004, #fff 0 -1px 2px;
}

.inici {
    color: #ffffff;
    font-size: 90px;
    margin: 2% auto;
    text-align: center;
    font-family: fantasy;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    padding-top: 190px;
}

p:hover {
    text-shadow: 2px 2px 20px #c67e2c, #fff 0 -1px 2px;
}

p {
    color: #fff;
    font-size: 15px;
}

.atras {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 25px;
    margin-left: 25px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    background-color: rgba(255, 166, 0, 0.418);
}

.atras:hover {
    background-color: rgb(255, 166, 0);
}

.viewMesas a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 4px 5px 7px orange;
}

.viewMesas a:hover {
    color: orange;
}

#table {
    width: 100%;
    height: min-content;
    color: #fff;
    text-align: center;
    justify-items: center;
    margin: 0 auto 25px auto;
}

#table img {
    width: 160px;
    height: auto;
    margin: auto;
}

#table td {
    padding: 2em;
    vertical-align: middle;
}

ul {
    padding: 0 25em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: rgba(216, 154, 61, 0.253);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    margin-right: 10px;
    font-family: Verdana;
}

li a:hover {
    background-color: #be7a3b;
}

img {
    width: 240px;
    margin: 50px;
    margin-right: 100px;
}

.editar {
    width: 300px;
    padding: 183px;
    border-radius: 10px;
    margin: auto;
    background-color: transparent;
}

form input[type="text"],
form input[type="text"],
form input[type="text"] {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
}

.edit {
    background-color: #c67e2c;
    border: 1px solid #c67e2c;
    border-radius: 20px;
    margin: 15px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

label {
    color: white;
    font-size: 19px;
}

select {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
    width: 186px;
}

.historico {
    background-color: rgba(0, 0, 255, 0.411);
}